:root {
    scroll-behavior: smooth;
    --main_color: rgb(242, 255, 0);
}
body {
    margin: 0;
    height: 5000px;
}
* {
    box-sizing: border-box;
}
.effect {
    height: 100px;
    width: 100px;
    background-color: var(--main_color);
    margin: 20px auto;
    transition: 2s all 500ms ease-in-out;
    /* transition-duration: 500ms; */
    /* transition-property: all; */
    /* transition-delay: 2s; */
    /* transition-timing-function: ease-in-out; */
}
.effect:hover {
    background-color: blue;
    height: 150px;
    width: 150px;
    cursor: pointer;
}
a {
    font-size: 2rem;
    font-weight: bold;
}

a:active {
    color: var(--main_color);
}

a:link {
    color: aqua;
}
a:visited {
    color: chartreuse;
}

input:focus {
    background-color: brown;
}

.targetTest {
    height: 900px;
}
.targetTest:target {
    background-color: #e8e8e8;
}
div:empty {
    height: 100px;
    width: 100px;
    background-color: var(--main_color);
}
/* section div { */
/* section > div { */
/* section :first-child { */
/* section :last-child { */
/* section :nth-child(2) { */
/* section :nth-child(2n) { */
/* section :nth-child(even) { */
/* section :nth-child(odd) { */
/* section :nth-last-child(2) { */
/* section :first-of-type { */
/* section :last-of-type { */
/* section :nth-of-type(2) { */
/* section :not(:last-of-type) { */
/* section :not(div) { */
section {
    color: var(--main_color);
    font-style: italic;
    font-size: 2rem;
    font-weight: bold;
    border: 1px solid var(--main_color);
}

input:checked {
    border: 1px solid green;
    padding: 10px;
}
input:disabled {
    background-color: #000;
}
input:requivar(--main_color) {
    background-color: #52ed57;
}

input[type="email"]:invalid {
    border: 20px solid #52ed57;
}
input[type="number"]:out-of-range {
    border: 10px solid var(--main_color);
}
.animation_example {
    height: 100px;
    width: 100px;
    background-color: #efff12;
    animation: firstAnimation 2s ease-in-out infinite alternate forwards;
    /* animation-name: firstAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards; */
}
.animation_example:hover {
    animation-play-state: paused;
}
.transform_example {
    height: 200px;
    width: 200px;
    background-color: #52ed57;
    margin: 30px auto;
    transition: 2s all ease-in-out;
}
.transform_example:hover {
    /* transform: translateX(200px); */
    /* transform: rotate(70deg); */
    /* transform: scale(1.5); */
    transform: skew(-45deg);
}
.loading {
    width: 70px;
    height: 70px;
    border: 10px solid #899;
    border-bottom-color: transparent;
    margin: 20px auto;
    border-radius: 50%;
    animation: 1s loading infinite linear;
}
@keyframes firstAnimation {
    50% {
        height: 200px;
        width: 200px;
    }
    100% {
        height: 200px;
        width: 200px;
        background-color: var(--main_color);
    }
}

@keyframes loading {
    100% {
        transform: rotate(360deg);
    }
}
