@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --header-bg-color: #1e1e1e;
    --primary-color: #59ab6e;
    --header-text-color: #cfd6e1;
    --hero-bg: #efefef;
    --main-text-color: #56595c;
    --secondary-color: #dddcda;
    --gold: #ede861;
    --gray: #bcbcbc;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
.container {
    width: 80%;
    margin: auto;
}
.flex {
    display: flex;
}
.justify_between {
    justify-content: space-between;
}
.align_center {
    align-items: center;
}
ul {
    padding-inline-start: 0;
    list-style: none;
}
.hover_effect {
    transition: all 0.3s ease;
}
.hover_effect:hover {
    color: var(--primary-color);
    cursor: pointer;
    transform: scale(1.5);
    font-weight: bold;
}
/*********************************************************** */
header {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    padding: 20px 0;
    font-size: 0.8rem;
}
header .contacts {
    gap: 20px;
}
header i {
    margin-inline-end: 5px;
}
header .social {
    gap: 15px;
}
/*********************************************************** */
nav .nav_links {
    width: 50%;
    font-weight: 300;
}
nav .nav_links .active {
    color: var(--primary-color);
    font-weight: bold;
}
nav .icon_with_badge {
    position: relative;
}
nav .icons_container {
    gap: 20px;
}

nav .icon_with_badge::after {
    content: attr(data-count);
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: var(--gray);
    color: var(--header-bg-color);
    font-size: 0.6rem;
    min-width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding: 2px;
    font-weight: bold;
}

/*********************************************************** */
@media (max-width: 650px) {
    :root {
        font-size: 10px;
    }
    header > .flex,
    nav > .flex {
        flex-direction: column;
        gap: 10px;
    }
    nav .nav_links {
        width: 70%;
    }
}
